{
  "extends": "stylelint-config-wordpress/scss",
  "plugins": ["stylelint-order"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "max-line-length": 300,
    "no-descending-specificity": false,
    "no-eol-whitespace" : false
  }
}