.chord-section {
  a {
    text-decoration: none;
    width: 100%;
    background: $color__blue;
    display: block;

  }
  .respimg-wrap {
    width: auto;
    margin: 0vw auto;
    height: 90vh;
    display: flex;
    align-items: center;justify-content: center;
    padding: 0 !important;
    img {
      height: 100%;
      width: auto;
      margin: auto;
      display: block;
      position: relative;
    }
  }

}
