section.video-section {
  background: $color__red;
  color: $color__white;
  position: relative;
  overflow: hidden;
  z-index: 3;
  display: block;
  width: 100%;
  .clouds {
    img {
      animation-delay: 2.5s !important;
    }
    top: 20%;
    height: 80%;
  }
  .video-header {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    padding: 0px 20px 100px;
    img {
      position: absolute;
      left: 0%;
      width: 70%;
      max-width: 600px;
      bottom: -10px;
      z-index: 1;
    }
  }
  .section-inner {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    padding: 34px 12px 80px;
  }
  .button-wrap {
    margin: 30px auto 20px;
    text-align: center;
  }
}

.video-widget {
  // display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  .featured-video {
    flex: 1 1 450px;
    // padding-bottom: 63%;
    max-width: 970px;
    margin: auto; 
    position: relative;
    color: $color__white;
    text-decoration: none;
    display: flex;
    box-shadow: $box-shadow;  
    align-items: flex-end;
    justify-content: flex-start;
    min-height: 420px;
    z-index: 2;
    background-color: $color__black;
    @media (max-width:700px) {
      min-height: 340px
    }
    @media (min-width: 1200px) {
      min-height: 520px
    }
     @media (max-width: 450px) {
        min-height: 240px;
      }
    
    justify-content: flex-start;
    .featured-video-bg {
      position: absolute;
      opacity: 0.6;
      top: 0;
      left: 0;
      z-index: 1;
      
    width: 100%;
    height: 100%;
    }
    .featured-video-content { 
      position: relative;
      padding: 20px;
      padding: calc(12px + 2vw);
      text-align: left;
      z-index: 2;
      color: $color__white;
      h2 {
        margin: 0.2em auto 0.2em;
      }
      .button {
        margin-bottom: 0;
      }
      
    }
  }
  .vidlist {
    padding: 12px;
    flex: 1 1 120px;
    // max-width: 100%;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    margin: 0 0 0 -6px;
    width: calc(100% + 12px);
    a {
      @media (max-width: 450px) {
        flex: 1 1 130px;
        min-height: 120px;
      }
      margin:  8px;
      box-shadow: $box-shadow;
      display: inline-flex;
      flex: 1 1 190px;
      align-items: flex-end;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 18px;
      text-align: left;
      color: $color__white;
      text-decoration: none;
      text-transform: uppercase;  
      width: 100%;
      position: relative;
      max-width: 280px;
      background: $color__black;
     
      min-height: 150px;
      transition: transform 300ms $ease-quart;
      &:hover {
        transform: scale(1.05);
      }
      .video-bg {
        position: absolute;
        top: 0;
        opacity: 0.5;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .video-text {
        position: relative;
        z-index: 2;
        line-height: 1.3;
        text-align: left;
        width: 100%;
        display: block;
      }
      .button {
        margin: 0;
      }
    }
  }
}

.tobi__slider__slide__content[data-type="youtube"] iframe {
  
  @media (max-width: 599px) {
    width: 100%;
    height: 220px;
  }
  
  @media (min-width: 600px) {
    width: 500px;
    height: 320px;
  }
  @media (min-width: 900px) {
    width: 800px;
    height: 500px;
  }
  @media (min-width: 1200px) {
    width: 1100px;
    height: 600px;
  }
}

.video-player_wrap {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden; -ms-overflow-style:none;
  max-width: unset;
  margin: 0;
  max-width: 100%;

  &.loaded .player-wrap {
      opacity:1;
  }

  }

  .player-wrap {
  opacity: 0;
  position: absolute;
  top: -25%;
  height: 150%;

  left: -12%;
  width: 125%;
  z-index: 0;
  transition: opacity 2000ms ease;
  background: black;
  @media (max-width: 700px) {
      top: -50%;
      height: 175%;
  } 

  iframe {
      position: absolute;
      top: 50%;
      left: 50%;  
      opacity: 0.7;
      width: 100%;
      transform: translate3D(-50%, -50% , 0);
      height: 110%;
      min-height: 600px;
      min-width: 920px;
  }
  }