
$color__purple: #544E9B;
$color__white: #ffffff;
$color__black: #0B0B0B;
$color__gray: #242323;
$color__green: #569265;
$color__red: #731117;
$color__blue: #ABD5EF;
$color__pink: #CD1A66;
$color__orange: #F88216;
$color__lime: #1AC24C;

$color__background-body: $color__black;
$color__background-screen: #f1f1f1;
$color__background-hr: $color__black;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: $color__gray;
$color__text-input-focus: #111;
$color__link: $color__purple;
$color__link-visited: $color__red;
$color__link-hover: darken($color__purple, 20%);
$color__text-main: $color__gray;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

 
