h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0.8em auto 0.4em;
	letter-spacing: -0.02em;
}


h1,
.h1 {
	font-size: 72px;
	font-size: calc(58px + 3vw);
	line-height: 1.1;
	text-transform: uppercase;
	letter-spacing: 0.016em;
}

h2,
.h2 {
	font-size: 38px;
	font-size: calc(32px + 1.9vw);
	line-height: 1.1;
}

h3,
.h3 {
	font-size: 32px;
	font-size: calc(22px + 1.8vw);
	line-height: 1.1;
		@media (min-width: 1100px) {
		font-size: 32px;
	}
	
}

h4,
.h4 {
	font-size: 22px;
	font-size: calc(15px + 1.2vw);
	line-height: 1.1;
	@media (min-width: 1100px) {
		font-size: 22px;
	}
}

h5,
.h5 {
	font-weight: 400;
	font-size: 20px;
	font-size: calc(12px + 0.8vw);
	line-height: 1.1;
	@media (min-width: 1100px) {
		font-size: 20px;
	}
}

